body {
   margin: 0;
   background: rgb(230,230,230);
}

.container{
   margin: auto;
   margin-top: 150px;
   padding-top: 20px;
   width: 500px;
   padding-bottom: 25px;
   font-family: arial, sans-serif;
   border: 1px solid rgb(225,225,225);
   background: white;
   border-radius: 15px;
   box-shadow: 2px 2px 20px rgb(200,220,220);
   color: black;
}

.container input:not(input[type=submit], input[type=checkbox]) {
   display: block;
   width: 300px;
   margin: auto;
   height: 15px;
   border: 1px solid lightblue;
   font-size: 12px;
}

.container input[type=submit], button{
    margin-auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: rgba(0,0,255,0.5);
    color: white;
    font-size: 14px;
    width: 70px;

}

.container input[type=checkbox]{
    margin-left: 100px;
}

.container input[type=submit]:hover {
    background: blue;
}
.container button {
    background: grey;
}

.container button:hover {
    background: rgba(240,240,240,0.5);
    color: darkblue;
    border: 1px solid darkblue;
}

.container p {
    margin-left: 100px;
}

.container h3{
    text-align: center;
}

.options {
    margin: auto;
    width: 200px;
}

.options input {
    margin-top: 15px;
    margin-left: 15px;
}
.header_div h3{

}

.fields_ {
    text-align: left;
}

.error_div {
    margin: auto;
    background: rgb(255,230,230);
    text-align: center;
    color: darkred;
    padding: 10px;
    width: 85%;
}