{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'style/credentials/credentials.css' %}">
{% endblock %}

{% block body %}

    <div class="container">
        <h3>Add Employment Credential</h3>

        <form method="POST" id="empCredForm">
            <p>{% for message in messages %} {{message}} {% endfor %}</p>
            {% csrf_token %}
            {% for field in form %}
                 {{ field.error }}
                <p id="{{field.label}}">{{field.label}}</p>
                <span>{{field}}</span>
            {% endfor %}
           <div class="options">
                <button onclick="history.back()">Cancel</button>
                <input type="submit" value="save">
           </div>
        </form>

    </div>

{% endblock %}