{% extends 'base.html' %}

{% load static %}

{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'style/credentials/credentials.css' %}">
{% endblock %}


{% block body %}

<div class="container">

     <h3>Add Location Credential</h3>
     <form method="POST" id="loCredForm">
         {% csrf_token %}
         {% comment %}
            {% for message in messages %}
                {% if message %}
                    {{message}}
                {% endif %}
            {% endfor %}
         {% endcomment %}

          <div class="error_div">
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>

         {% for field in form %}
            {{field.error}}
                <p id="{{field.label}} ">{{field.label}}</p>
                <span>{{field}}</span>
            {% endfor %}

         <div class="options">
           <button onclick="history.back()">Cancel</button>
           <input type="submit">

         </div>
     </form>

{% endblock %}